<header id="gh-head" class="gh-head gh-outer fixed top-0 left-0 w-full z-10 bg-white h-24">
    <div class="gh-head-inner gh-inner   ">
        <div class="gh-head-brand flex items-center justify-between">
            <div class="gh-head-brand-wrapper">
                <a class="gh-head-logo" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}" class="h-16"> <!-- Adjust height if needed -->
                    {{else}}
                        <span class="text-lg font-bold">{{@site.title}}</span>
                    {{/if}}
                </a>
            </div>
            {{!-- <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button> --}}
            <button class="gh-burger"></button>
        </div>

        <nav class="gh-head-menu">
            {{navigation}}
            {{!-- {{#unless @site.members_enabled}}
                {{#match @custom.navigation_layout "Stacked"}}
                    <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                {{/match}}
            {{/unless}} --}}
        </nav>

        {{!-- <div class="gh-head-actions"> ... </div> --}}
    </div>
</header>
